<div id="content">
  <button
    class="invisibleButtons recordButtons"
    [ngClass]="{ active: isRecordTabActive }"
    (click)="changeRecMode('recordTab')"
    id="grabarPestana"
  ></button>
  <button
    class="invisibleButtons recordButtons"
    [ngClass]="{ active: isRecordScreenActive }"
    (click)="changeRecMode('recordScreen')"
    id="grabarEscritorio"
  ></button>
  <button class="invisibleButtons" id="audioOnOff" (click)="toggleAudio()">
    <img [src]="onOffImg" alt="" />
  </button>
  <select id="miclist" class="custom-select custom-select-sm select-mic">
    <option *ngFor="let mic of organizedMicList;" value="mic.deviceId">{{mic.label}}</option>
  </select>

  <button class="invisibleButtons" id="voiceCommands" (click)="toggleVoiceCommands()">
    <img [src]="voiceCommandImg" alt="" />
  </button>
  <button class="invisibleButtons" id="citbDevice"></button>
  <button class="invisibleButtons" id="recordings"></button>
  <button class="invisibleButtons citbButtons" id="citbOn"></button>
  <button class="invisibleButtons citbButtons" id="citbCamPopup"></button>
  <button class="invisibleButtons citbButtons" id="citbMicPopup"></button>
  <button
    class="invisibleButtons citbButtons"
    id="citbShowFloatingDiv"
  ></button>
</div>
