/* You can add global styles to this file, and also import other style files */
#content{
    background-image: url(../assets/popup2.jpg);
    background-size: cover;
    height: 580px;
    width: 263px;
    position: relative;
}

.recordButtons {
    &.active {
        background-color: #547dbe57;
    }
}

.invisibleButtons {
    border: none;
    width: 105px;
    height: 90px;
    position: absolute;
    background-color: transparent;
}
.citbButtons{
    width: 53px;
    height:53px;
    top: 457px;
}
#grabarPestana {
    left: 11px;
    top: 100px;
}

#grabarEscritorio {
    top: 100px;
    right: 15px;
}

#audioOnOff {
    top: 239px;
    width: 55px;
    height: 55px;
    left: 10px;
    img {
        width:100%
    }
}

#voiceCommands {
    top: 323px;
    height: 80px;
    width: 80px;
    left: 8px;
    img {
        width:100%
    }
}

#citbDevice {
    top: 323px;
    right: 82px;
    width: 80px;
}

#miclist {
    position: absolute;
    top: 252px;
    height: 25px;
    border: 1px solid #c6c6c6;
    color: #c5c6c6;
    width: 171px;
    opacity: 0.8;
    left: 74px;
}

#recordings {
    top: 323px;
    right: 0;
    width: 80px;
}

#citbOn {
    left: 15px;
    height: 53px;
    width: 53px;
    img {
        width:100%
    }
}

#citbCamPopup {
    left: 78px;
}

#citbMicPopup{
    left: 139px;
}

#citbShowFloatingDiv {
    right:19px;
}