/* You can add global styles to this file, and also import other style files */
#content{
    background-image: url(../assets/popup.svg);
    background-size: 100%;
    min-height: 600px;
    width: 225px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center top;
    margin: 10px;
}
.logo {
    text-align: center;
    margin: auto;
    img {
        width: 103px;
        margin: auto;
    }
}
.record-section {
    margin-top: 15px;
    float:left;
    width: 100%;
    .title {
        text-align: center;
        img{
            height:15px;
        }
    }
}
.citbButtonsContainer {
    background-image: url(../assets/citbButtons.png);
    width: 100%;
    background-size: 100%;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;

}
#spacer {
    height:390px;
    width:100%;
}

.invisibleButtons {
    z-index: 2;
    border: none;
    width: 110px;
    height: 75px;
    position: absolute;
    background-color: transparent;
}
.citbButtons{
    width: 53px;
    height:53px;
    top: 457px;
}
#grabarPestana {
    position: inherit;
    float: left;
    margin-left: -13px;
    margin-top: 8px;
}

#grabarEscritorio {
    position: inherit;
    float: right;
    margin-right: -10px;
    margin-top: 8px;
}

#audioOnOff {
    top: 172px;
    width: 43px;
    height: 43px;
    left: 7px;
    img {
        width:100%
    }
}

.custom-alert {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
}

#citbMissingAlert {
    img {
        height: 29px;
        margin-top: 3px;
        float: left;
    }
    max-height: 35px;
    transition: max-height .5s ease-out;
    overflow: hidden;
    margin-right: 20px;
    width: 100%;
    &.expanded{
        max-height: 100px;
        transition: max-height .5s ease-in;
        border: 1px solid orange;
    }  
    .alert-text{
        float: right;
        width: calc(100% - 40px);
        font-size: 11px;
        color: #c6c6c6;
        line-height: 11px;
        padding: 0;
        margin: 0;
        p{
            float: right;
            padding: 0;
            margin: 0;
            padding-top: 5px;
        }
    }
}

#startRecord{
    height: 36px;
    width: 248px;
    border: none;
    margin-top: 5px;
    background: transparent;
    margin-left: 7px;
    img {
        width: 100%;
    }
}

#voiceCommands {
    top: 323px;
    height: 80px;
    width: 80px;
    left: 8px;

}

#separator1 {
    width: 100%;
    height: 5px;
    position: absolute;
    top: 155px;
    left: 0;
}

#citbDevice {
    top: 323px;
    right: 82px;
    width: 80px;
}

#miclist {
    position: absolute;
    top: 178px;
    height: 21px;
    border: 1px solid #c6c6c6;
    color: #c5c6c6;
    width: 163px;
    opacity: .8;
    left: 60px;
}

#recordings {
    top: 323px;
    right: 0;
    width: 80px;
}

#citbOn {
    left: 15px;
    height: 53px;
    width: 53px;
    img {
        width:100%
    }
}

#citbCamPopup {
    left: 78px;
}

#citbMicPopup{
    left: 139px;
}

#citbShowFloatingDiv {
    right:9px;
    top: 448px !important;
    height: 67px;
    width: 67px;
    img {
        width:100%;
    }
}

#timerPanel{
    width: 120px !important;
    height: 36px !important;
    margin-top: 10.8px;
    margin-left: 14px;
    border: none;
    background: transparent;
    img {
        width: 100%;
    }
}

#play-pause {
    width: 45px !important;
    height: 45px !important;
    margin-top: 10.8px;
    margin-left: 14px;
    border: none;
    background: transparent;
    img {
        width: 100%;
    }
}
#stop-button {
    width: 45px !important;
    height: 45px !important;
    margin-top: 10.8px;
    margin-left: 10px;
    border: none;
    background: transparent;
    img {
        width: 100%;
    }
}

.rec-time {
    color: white;
    position: relative;
    bottom: 27px;
}