<div id="content">
  <button class="invisibleButtons" id="grabarPestana"></button>
  <button class="invisibleButtons" id="grabarEscritorio"></button>
  <button class="invisibleButtons" id="audioOnOff"></button>
  <button class="invisibleButtons" id="voiceCommands"></button>
  <button class="invisibleButtons" id="citbDevice"></button>
  <button class="invisibleButtons" id="recordings"></button>
  <button class="invisibleButtons citbButtons" id="citbOn"></button>
  <button class="invisibleButtons citbButtons" id="citbCamPopup"></button>
  <button class="invisibleButtons citbButtons" id="citbMicPopup"></button>
  <button class="invisibleButtons citbButtons" id="citbShowFloatingDiv"></button>

</div>