<div id="content">
  <div id="spacer">

  </div>
  <div class="citbButtonsContainer" *ngIf="citbDeviceEnabled">
    <button class="invisibleButtons citbButtons" id="citbOn" (click)="toggleCITBOnOff()">
      <img [src]="citbOnOffImg" alt="" />
    </button>
    <button class="invisibleButtons citbButtons" id="citbCamPopup"></button>
    <button class="invisibleButtons citbButtons" id="citbMicPopup"></button>
    <button
      class="invisibleButtons citbButtons"
      id="citbShowFloatingDiv"
      (click)="toogleFloatingPanel()"
    >
    <img [src]="floatingPanelStatus" alt="" />
  </button>
  </div>
  <button
    class="invisibleButtons recordButtons"
    [ngClass]="{ active: isRecordTabActive }"
    (click)="changeRecMode('recordTab')"
    id="grabarPestana"
  ></button>
  <button
    class="invisibleButtons recordButtons"
    [ngClass]="{ active: isRecordScreenActive }"
    (click)="changeRecMode('recordScreen')"
    id="grabarEscritorio"
  ></button>
  <button class="invisibleButtons" id="audioOnOff" (click)="toggleAudio()">
    <img [src]="onOffImg" alt="" />
  </button>
  <select id="miclist" class="custom-select custom-select-sm select-mic">
    <option (click)="selectedMic = mic.deviceId" *ngFor="let mic of organizedMicList;" value="mic.deviceId">{{mic.label}}</option>
  </select>

  <button class="invisibleButtons" id="voiceCommands" (click)="toggleVoiceCommands()">
    <img [src]="voiceCommandImg" alt="" />
  </button>
  <button class="invisibleButtons" (click)="citbDeviceToggle()" id="citbDevice"></button>
  <button class="invisibleButtons" (click)="showRecordings()" id="recordings"></button>
  <button (click)="startRecording()" id="startRecord">
    <img src="assets/rec-button.png" alt="">
  </button>
  
  <div class="custom-alert">
    <div id="citbMissingAlert" class="mb-3 p-1 expanded">
      <div class="align-self-center float-left">
        <img src="assets/ALERTA.png" class="img-alert-citb">
      </div>
      <div class="alert-text">
        <p>El audio grabado puede tener eco, si no usas ClassInTheBox</p>
      </div>
    </div>
  </div>
  
</div>
