.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
.child {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
  }