button {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  button:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .box.next {
    background-color: #04AA6D;
    width: 80px;
    height: 20px;
    color: white;
    border-radius: 20px;
  }
  
  .round {
    border-radius: 50%;
  }

#container {
    display: flex;              /* establish flex container */
    flex-direction: column;     /* stack flex items vertically */
    justify-content: center;    /* center items vertically, in this case */
    align-items: center;        /* center items horizontally, in this case */
}

#multiplecontainer {
    display: flex;              /* establish flex container */
    flex-direction: row;     /* stack flex items vertically */
    justify-content: center;    /* center items vertically, in this case */
    align-items: center;        /* center items horizontally, in this case */
}

.box {
    /* width: 300px;
    margin: 5px; */
    text-align: center;
}
.separator {
  height: 10px;
}