<button class="popupButton">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180.32 32.39">
  <defs>
    <style>
      .volumeControlOuterCircle {
        fill: #547dbe;
      }
      .volumeControlPath1,
      .volumeControlFirstText {
        fill: #fff;
      }
      .volumeControlFirstText {
        font-size: 14.58px;
        font-family: AntartidaRounded-Medium, Antartida Rounded;
        font-weight: 500;
      }
      .volumeCOntrolRText {
        letter-spacing: -0.03em;
      }
      .volumeControlSecondText {
        letter-spacing: 0em;
      }
      .volumeControlVText {
        letter-spacing: -0.02em;
      }
    </style>
  </defs>
  <g id="Layer_2" data-name="Layer 2">
    <g id="Capa_1" data-name="Capa 1">
      <rect class="volumeControlOuterCircle" width="180.32" height="32.39" rx="11.81" />
      <path
        class="volumeControlPath1"
        d="M24.56,8a1.09,1.09,0,0,0-1.16.12l-3.54,2.78a2.1,2.1,0,0,0-.61-.09H15.62A2.16,2.16,0,0,0,13.46,13V19.3a2.15,2.15,0,0,0,2.16,2.15h3.63a2.24,2.24,0,0,0,.52-.06l3.63,2.84a1.12,1.12,0,0,0,.68.23,1,1,0,0,0,.48-.11,1.1,1.1,0,0,0,.62-1V9A1.1,1.1,0,0,0,24.56,8Z"
      />
      <path
        class="volumeControlPath1"
        d="M31.7,16.94H28.24a.71.71,0,0,1,0-1.41H31.7a.71.71,0,0,1,0,1.41Z"
      />
      <path
        class="volumeControlPath1"
        d="M31.69,10.28,28.7,12a.73.73,0,0,1-1-.26.71.71,0,0,1,.26-1l3-1.73a.71.71,0,0,1,.71,1.22Z"
      />
      <path
        class="volumeControlPath1"
        d="M31.78,22.16l-3-1.72a.7.7,0,1,0-.71,1.21l3,1.73a.71.71,0,0,0,.71-1.22Z"
      />
      <text class="volumeControlFirstText" transform="translate(42.34 20.34)">
        Cont
        <tspan class="volumeCOntrolRText" x="30.23" y="0">r</tspan>
        <tspan class="volumeControlSecondText" x="34.71" y="0">ol de</tspan>
        <tspan class="volumeControlVText" x="70.91" y="0">v</tspan>
        <tspan x="77.81" y="0">olumen</tspan>
      </text>
    </g>
  </g>
</svg>
</button>